accelerate==REMOVED_SECRET
aiohappyeyeballs==REMOVED_SECRET
aiohttp==REMOVED_SECRET
aiosignal==REMOVED_SECRET
annotated-types==REMOVED_SECRET
annoy==REMOVED_SECRET
antlr4-python3-runtime==REMOVED_SECRET
anyio==REMOVED_SECRET
asttokens==REMOVED_SECRET
async-timeout==REMOVED_SECRET
attrs==REMOVED_SECRET
backoff==REMOVED_SECRET
beautifulsoup4==REMOVED_SECRET
bitarray==REMOVED_SECRET
bitsandbytes==REMOVED_SECRET
blinker==REMOVED_SECRET
cachetools==REMOVED_SECRET
catalogue==REMOVED_SECRET
certifi==REMOVED_SECRET
cffi==REMOVED_SECRET
chardet==REMOVED_SECRET
charset-normalizer==REMOVED_SECRET
click==REMOVED_SECRET
colbert-ai==REMOVED_SECRET
coloredlogs==REMOVED_SECRET
comm==REMOVED_SECRET
contourpy==REMOVED_SECRET
cryptography==REMOVED_SECRET
cuda-python==REMOVED_SECRET
cycler==REMOVED_SECRET
dataclasses-json==REMOVED_SECRET
datasets==REMOVED_SECRET
debugpy==REMOVED_SECRET
decorator==REMOVED_SECRET
deepdiff==REMOVED_SECRET
Deprecated==REMOVED_SECRET
dill==REMOVED_SECRET
dirtyjson==REMOVED_SECRET
diskcache==REMOVED_SECRET
distro==REMOVED_SECRET
effdet==REMOVED_SECRET
einops==REMOVED_SECRET
emoji==REMOVED_SECRET
exceptiongroup==REMOVED_SECRET
executing==REMOVED_SECRET
faiss-cpu==REMOVED_SECRET.post1
fast-pytorch-kmeans==REMOVED_SECRET.1
fastjsonschema==REMOVED_SECRET
filelock==REMOVED_SECRET
filetype==REMOVED_SECRET
flash-attn==REMOVED_SECRET
Flask==REMOVED_SECRET
flatbuffers==REMOVED_SECRET
fonttools==REMOVED_SECRET
frozenlist==REMOVED_SECRET
fsspec==REMOVED_SECRET
gguf==REMOVED_SECRET
git-python==REMOVED_SECRET
gitdb==REMOVED_SECRET
GitPython==REMOVED_SECRET
google-api-core==REMOVED_SECRET
google-auth==REMOVED_SECRET
google-cloud-vision==REMOVED_SECRET
googleapis-common-protos==REMOVED_SECRET
greenlet==REMOVED_SECRET
grpcio==REMOVED_SECRET
grpcio-status==REMOVED_SECRET
h11==REMOVED_SECRET
httpcore==REMOVED_SECRET
httpx==REMOVED_SECRET
huggingface-hub==REMOVED_SECRET
humanfriendly==10.0
idna==3.7
iniconfig==REMOVED_SECRET
iopath==REMOVED_SECRET
ipykernel==REMOVED_SECRET
ipython==REMOVED_SECRET
ipywidgets==REMOVED_SECRET
itsdangerous==REMOVED_SECRET
jedi==REMOVED_SECRET
jellyfish==REMOVED_SECRET
Jinja2==REMOVED_SECRET
joblib==REMOVED_SECRET
jsonpatch==1.33
jsonpath-python==REMOVED_SECRET
jsonpointer==REMOVED_SECRET
jsonschema==REMOVED_SECRET
jsonschema-specifications==REMOVED_SECRET
jupyter_client==REMOVED_SECRET
jupyter_core==REMOVED_SECRET
jupyterlab_widgets==REMOVED_SECRET
keybert==REMOVED_SECRET
kiwisolver==REMOVED_SECRET
langchain==REMOVED_SECRET
langchain-community==REMOVED_SECRET
langchain-core==REMOVED_SECRET
langchain-openai==REMOVED_SECRET
langchain-text-splitters==REMOVED_SECRET
langdetect==REMOVED_SECRET
langsmith==REMOVED_SECRET
layoutparser==REMOVED_SECRET
llama-cloud==REMOVED_SECRET
llama-index==REMOVED_SECRET
llama-index-agent-openai==REMOVED_SECRET
llama-index-cli==REMOVED_SECRET
llama-index-core==REMOVED_SECRET
llama-index-embeddings-openai==REMOVED_SECRET
llama-index-indices-managed-llama-cloud==REMOVED_SECRET
llama-index-legacy==REMOVED_SECRET
llama-index-llms-openai==REMOVED_SECRET
llama-index-multi-modal-llms-openai==REMOVED_SECRET
llama-index-program-openai==REMOVED_SECRET
llama-index-question-gen-openai==REMOVED_SECRET
llama-index-readers-file==REMOVED_SECRET
llama-index-readers-llama-parse==REMOVED_SECRET
llama-parse==REMOVED_SECRET
llama_cpp_python==REMOVED_SECRET
llvmlite==REMOVED_SECRET
lxml==REMOVED_SECRET
markdown-it-py==REMOVED_SECRET
MarkupSafe==REMOVED_SECRET
marshmallow==REMOVED_SECRET
matplotlib==REMOVED_SECRET
matplotlib-inline==REMOVED_SECRET
mdurl==REMOVED_SECRET
memory-profiler==REMOVED_SECRET
mpmath==REMOVED_SECRET
multidict==REMOVED_SECRET
multiprocess==REMOVED_SECRET
mypy-extensions==REMOVED_SECRET
nbformat==REMOVED_SECRET
nest-asyncio==REMOVED_SECRET
networkx==3.3
ninja==REMOVED_SECRET.1
nltk==REMOVED_SECRET
numba==REMOVED_SECRET
numpy==REMOVED_SECRET
nvidia-cublas-cu12==REMOVED_SECRET.1
nvidia-cuda-cupti-cu12==REMOVED_SECRET
nvidia-cuda-nvrtc-cu12==REMOVED_SECRET
nvidia-cuda-runtime-cu12==REMOVED_SECRET
nvidia-cudnn-cu12==REMOVED_SECRET.70
nvidia-cufft-cu12==REMOVED_SECRET.54
nvidia-curand-cu12==REMOVED_SECRET.106
nvidia-cusolver-cu12==REMOVED_SECRET.107
nvidia-cusparse-cu12==REMOVED_SECRET.106
nvidia-nccl-cu12==REMOVED_SECRET
nvidia-nvjitlink-cu12==REMOVED_SECRET
nvidia-nvtx-cu12==REMOVED_SECRET
omegaconf==REMOVED_SECRET
onnx==REMOVED_SECRET
onnxruntime==REMOVED_SECRET
openai==REMOVED_SECRET
opencv-python==REMOVED_SECRET.84
ordered-set==REMOVED_SECRET
orjson==REMOVED_SECRET
packaging==23.2
pacmap==REMOVED_SECRET
pandas==REMOVED_SECRET
parso==REMOVED_SECRET
pdf2image==REMOVED_SECRET
pdfminer.six==20231228
pdfplumber==REMOVED_SECRET
peft==REMOVED_SECRET
pexpect==REMOVED_SECRET
pikepdf==REMOVED_SECRET
pillow==REMOVED_SECRET
pillow_heif==REMOVED_SECRET
platformdirs==REMOVED_SECRET
plotly==REMOVED_SECRET
pluggy==REMOVED_SECRET
poppler-utils==REMOVED_SECRET
portalocker==REMOVED_SECRET
prompt_toolkit==REMOVED_SECRET
proto-plus==REMOVED_SECRET
protobuf==REMOVED_SECRET
psutil==REMOVED_SECRET
ptyprocess==REMOVED_SECRET
pure_eval==REMOVED_SECRET
pyarrow==REMOVED_SECRET
pyarrow-hotfix==0.6
pyasn1==REMOVED_SECRET
pyasn1_modules==REMOVED_SECRET
pycocotools==REMOVED_SECRET
pycparser==2.22
pycryptodome==REMOVED_SECRET
pydantic==REMOVED_SECRET
pydantic_core==REMOVED_SECRET
Pygments==REMOVED_SECRET
PyMuPDF==REMOVED_SECRET
PyMuPDFb==REMOVED_SECRET
pynvml==REMOVED_SECRET
pyparsing==REMOVED_SECRET
pypdf==REMOVED_SECRET
pypdfium2==REMOVED_SECRET
pytesseract==REMOVED_SECRET
pytest==REMOVED_SECRET
python-dateutil==REMOVED_SECRET.post0
python-dotenv==REMOVED_SECRET
python-iso639==REMOVED_SECRET
python-magic==REMOVED_SECRET
python-multipart==REMOVED_SECRET
pytz==2024.1
PyYAML==REMOVED_SECRET
pyzmq==REMOVED_SECRET
RAGatouille==REMOVED_SECRET.post2
rake-nltk==REMOVED_SECRET
rapidfuzz==REMOVED_SECRET
referencing==REMOVED_SECRET
regex==REMOVED_SECRET
requests==REMOVED_SECRET
requests-toolbelt==REMOVED_SECRET
rich==REMOVED_SECRET
rpds-py==REMOVED_SECRET
rsa==4.9
safetensors==REMOVED_SECRET
scikit-learn==REMOVED_SECRET
scipy==REMOVED_SECRET
segtok==REMOVED_SECRET
sentence-transformers==REMOVED_SECRET
sentencepiece==REMOVED_SECRET
six==REMOVED_SECRET
smmap==REMOVED_SECRET
sniffio==REMOVED_SECRET
soupsieve==2.5
SQLAlchemy==REMOVED_SECRET
srsly==REMOVED_SECRET
stack-data==REMOVED_SECRET
striprtf==REMOVED_SECRET
sympy==REMOVED_SECRET
tabulate==REMOVED_SECRET
tenacity==REMOVED_SECRET
tesseract==REMOVED_SECRET
threadpoolctl==REMOVED_SECRET
tiktoken==REMOVED_SECRET
timm==REMOVED_SECRET
tokenizers==REMOVED_SECRET
tomli==REMOVED_SECRET
torch==REMOVED_SECRET
torchvision==REMOVED_SECRET
tornado==REMOVED_SECRET
tqdm==REMOVED_SECRET
traitlets==REMOVED_SECRET
transformers==REMOVED_SECRET
triton==REMOVED_SECRET
typing-inspect==REMOVED_SECRET
typing_extensions==REMOVED_SECRET
tzdata==2024.1
ujson==REMOVED_SECRET
unstructured==REMOVED_SECRET
unstructured-client==REMOVED_SECRET
unstructured-inference==REMOVED_SECRET
unstructured.pytesseract==REMOVED_SECRET
urllib3==REMOVED_SECRET
voyager==REMOVED_SECRET
wcwidth==REMOVED_SECRET
Werkzeug==REMOVED_SECRET
widgetsnbextension==REMOVED_SECRET
wrapt==REMOVED_SECRET
xxhash==REMOVED_SECRET
yake==REMOVED_SECRET
yarl==REMOVED_SECRET
